
@using System
@{
    ViewData["Title"] = "File Upload Staus";
}
@model List<IPC.Common.CacheResponseBase>


<h1>File Upload Status</h1>
<div class="row">
    <section>
        <form>
            <div class="form-group">
                <div class="col-md-10">
                    @foreach (var r in Model)
                    {
                        @if (@r.IsOK)
                        {
                            <p>File   uploaded successfully</p>
                        }
                        else
                        {
                            <p>File  was not uploaded</p>

                        }
                    }
                    </div>
                </div>

            </form>
        </section>
    </div>
    <hr />

